# General files
.DS_Store
.Rhistory
*.un*

# Project-specific files and directories
.snakemake/
*-env/
results/

# Partially ignored directories
doc/reports/knitr-pdf/*
doc/confluence/*files
doc/confluence/*yml
doc/confluence/*xml

**/scratch/*

# Exceptions
!*/README.md
!*/*/README.md

!data/test_data/
!data/data_management/
!data/*md

!doc/

!doc/reports/myunsrt.bst
!doc/reports/references.bib
!doc/reports/*.qmd
!doc/reports/*.Rnw
!doc/reports/*.pdf

!scratch/README.md
!results/README.md
